<div class=container-fluid>

	<div class="container">	
		<div class="row">
			<div class=col-md-2>
				<figure>
					<img src="../../assets/beyonce2.jpg" id="project-profile-user" routerLink="/profile" />
				</figure>
			</div>
			<div class="col-md-8">
				<div class=createPost>
					<div class=row>
						<div class="col-md-12">
							<div class=enterText>
								<textarea placeholder="Share your feelings ..."></textarea>
							</div>
						</div>
					</div>
					<div class="row buttonWrapper">
						<div class="col-md-6 button leftbutton">
							<a href=#>Write Post</a>
							
						</div>
						<div class="col-md-6 button rightbutton">
							<a href=#>Add Photo</a>
							
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="container">	
		<div class="row">
			<div class="col-md-8 col-md-offset-2 ">
				<div class=post>
					<div class=row>
						<div class="col-md-2">
							<img src="../../assets/beyonce2.jpg" id="project-profile-user" routerLink="/profile" />
						</div>

						<div class="col-md-6 bio">
							<h4>Beyonce</h4>
							<p>High School
								<br/> July 15th, 10:30pm
							</p>
						</div>
					</div>
				
					<div class=blurb>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container">	
		<div class="row">
			<div class="col-md-8 col-md-offset-2 ">
				<div class=post>
					<div class=row>
						<div class="col-md-2">
							<img src="../../assets/propic.jpg" id="project-profile-user" routerLink="/profile" />
						</div>

						<div class="col-md-6 bio">
							<h4>Emma</h4>
							<p>Middle School
								<br/> July 19th, 6:15am
							</p>
						</div>
					</div>
				
					<div class=blurb>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						</p>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div class="container">	
		<div class="row">
			<div class="col-md-8 col-md-offset-2 ">
				<div class=post>
					<div class=row>
						<div class="col-md-2">
							<img src="../../assets/boa.jpg" id="project-profile-user" routerLink="/profile" />
						</div>

						<div class="col-md-6 bio">
							<h4>Boa</h4>
							<p>College
								<br/> July 21st, 1:29pm
							</p>
						</div>
					</div>
				
					<div class=blurb>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>


</div>