<div class="container-fluid container">

	<div class=row>
		<div class="col-md-12 col-sm-12">
			<a routerLink="/profile"><img src="../../assets/beyonce2.jpg" id="project-profile-user"></a>
			<div class="bio">
				<h3>{{title}} ( {{age}} years old ) </h3>
				<div class="tag-section" *ngFor = "let tag of tags">
					<button class="btn btn-tags" id="view-project">{{tag}}</button>
				</div>
				<p>{{blurb}}</p>
			</div>
		</div>
	</div>

	<div class=row>
		<div class="col-md-12">
			<h3>Featured Project</h3>
		</div>
		
		<div class="col-md-3 col-sm-3">
			<div class="project-block">
				<div class="project-image-wrapper">
					<img src="../../assets/project-picture.png" id="project-image" width="100%"/>
				</div>
				<h4 id="project-title">Tiny Thief</h4>
				<div class="project-tags">
					<div id="project-tag-1">
						<span id="project-tag-name"></span>
					</div>
				</div>
				<div id="project-description">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sed ultrices nunc, at bibendum augue. In hac habitasse platea dictumst. </p>
				</div>
				<a routerLink="/project"><button class="btn btn-view" id="view-project">View Project</button></a>
			</div>
		</div><div class="col-md-3 col-sm-3">
			<div class="project-block">
				<div class="project-image-wrapper">
					<img src="../../assets/project-picture.png" id="project-image" width="100%"/>
				</div>
				<h4 id="project-title">Tiny Thief</h4>
				<div class="project-tags">
					<div id="project-tag-1">
						<span id="project-tag-name"></span>
					</div>
				</div>
				<div id="project-description">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sed ultrices nunc, at bibendum augue. In hac habitasse platea dictumst. </p>
				</div>
				<a routerLink="/project"><button class="btn btn-view" id="view-project">View Project</button></a>
			</div>
		</div>

		<div class="col-md-6 col-sm-6" id="profile-feed">
			<div class="blog-block" *ngFor = "let post of posts">
				<h3>{{post.title}}</h3>
				<p> {{post.time}}</p>
				<p> {{post.post}}</p>
				<div class="reaction-section">
					<div class="like-section">
						<span class="glyphicon glyphicon-heart"><span>{{post.likes}}</span></span>
					</div>
					<div class="comment-section">
						<span class="glyphicon glyphicon-comment"><span>{{post.comments}}</span></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>