<div class="container-fluid">
	<div class="banner-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-xs-8">
					<h1 class="project-title">Tiny Thief</h1>
					<h5 class="project-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sed ultrices nunc, at bibendum augue. In hac habitasse platea dictumst.</h5>
				</div>
			</div>
		</div>
		<div class="overlay"></div>
		<img src="../../assets/project-picture.png" id="project-profile-img" />
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-offset-8 col-xs-4">
				<div class="row">
					<div class="col-md-6 bio">
						<h3>Beyonce</h3>
						<p>19 years old</p>
					</div>
					<div class="col-md-6">
						<a routerLink="/profile"><img src="../../assets/beyonce2.jpg" id="project-profile-user"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="project-menu" data-spy="affix">
					<ul class="list-group">
						<li class="list-group-item"><a ng-href="#description">Description</a></li>
						<li class="list-group-item"><a ng-href="#screenshots">Screenshots</a></li>
						<li class="list-group-item"><a ng-href="#technology">Technology</a></li>
						<li class="list-group-item"><a ng-href="#questions-comments">Questions/Comments</a></li>
						<li class="list-group-item"><a ng-href="#leave-comments">Leave Questions/Comments</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-9">
				<div name="description">
					<h2>Description</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi condimentum tortor nec dictum eleifend. Suspendisse potenti. Donec et turpis mollis, tempor sem eu, interdum magna. Morbi metus est, sagittis eget arcu et, iaculis efficitur velit. In et urna id diam vestibulum hendrerit ac ac erat. Praesent interdum egestas ullamcorper. In dignissim iaculis semper. Phasellus consectetur, turpis vitae pellentesque ullamcorper, ante lacus tincidunt eros, ut auctor ex ligula vel felis. Etiam sodales leo in iaculis auctor.

						Ut ante lectus, condimentum sit amet lectus eget, luctus posuere dolor. Vestibulum tempus, augue pulvinar varius elementum, nisi enim congue mauris, ut tempor nunc ligula in dolor. Nam dui magna, auctor in felis quis, ornare consequat erat. Etiam eget libero at lorem scelerisque placerat at ac tortor. Nullam mi ligula, bibendum vitae dictum quis, porta ut eros. Sed eu malesuada ante, nec volutpat turpis. Morbi metus nunc, varius non nulla sit amet, vestibulum tempus sapien. Suspendisse faucibus rutrum sem, eu ullamcorper leo accumsan eu. Duis non pulvinar elit. Pellentesque sit amet libero ac enim porta mattis quis vitae neque. Donec convallis non dui id dapibus.
					</p>
				</div>
				<hr/>
				<div name="screenshots">
					<h2>Screenshots</h2>
					<div class="row">
						<div class="col-xs-2 col-sm-4 project-screenshots-wrapper">
							<img src="../../assets/tiny1.jpg" class="project-screenshots" />
						</div>
						<div class="col-xs-2 col-sm-4 project-screenshots-wrapper">
							<img src="../../assets/tiny2.jpg" class="project-screenshots" />
						</div>
						<div class="col-xs-2 col-sm-4 project-screenshots-wrapper">
							<img src="../../assets/tiny3.png" class="project-screenshots" />
						</div>
						<div class="col-xs-2 col-sm-4 project-screenshots-wrapper">
							<img src="../../assets/tiny4.jpg" class="project-screenshots" />
						</div>
						<div class="col-xs-2 col-sm-4 project-screenshots-wrapper">
							<img src="../../assets/tiny5.png" class="project-screenshots" />
						</div>
					</div>
				</div>
				<hr/>
				<div name="technology">
					<h2>Technology</h2>
					<div class="tag-section">
						<button class="btn btn-tags" id="view-project">Swift</button>
						<button class="btn btn-tags" id="view-project">iOS</button>
						<button class="btn btn-tags" id="view-project">Android</button>
						<button class="btn btn-tags" id="view-project">Cocos2d-x</button>
						<button class="btn btn-tags" id="view-project">Lua</button>
					</div>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi condimentum tortor nec dictum eleifend. Suspendisse potenti. Donec et turpis mollis, tempor sem eu, interdum magna. Morbi metus est, sagittis eget arcu et, iaculis efficitur velit. In et urna id diam vestibulum hendrerit ac ac erat. Praesent interdum egestas ullamcorper. In dignissim iaculis semper. Phasellus consectetur, turpis vitae pellentesque ullamcorper, ante lacus tincidunt eros, ut auctor ex ligula vel felis. Etiam sodales leo in iaculis auctor.
					</p>
					<p>
						Ut ante lectus, condimentum sit amet lectus eget, luctus posuere dolor. Vestibulum tempus, augue pulvinar varius elementum, nisi enim congue mauris, ut tempor nunc ligula in dolor. Nam dui magna, auctor in felis quis, ornare consequat erat. Etiam eget libero at lorem scelerisque placerat at ac tortor. Nullam mi ligula, bibendum vitae dictum quis, porta ut eros. Sed eu malesuada ante, nec volutpat turpis. Morbi metus nunc, varius non nulla sit amet, vestibulum tempus sapien. Suspendisse faucibus rutrum sem, eu ullamcorper leo accumsan eu. Duis non pulvinar elit. Pellentesque sit amet libero ac enim porta mattis quis vitae neque. Donec convallis non dui id dapibus.
					</p>
				</div>
				<hr/>
				<div name="questions-comments">
					<h2>Questions/Comments</h2>
					<div class="panel panel-default">
						<div class="panel-heading">
							<span class="usr-bio-brief">
								<a routerLink="/profile" id="usr-propic-link">
									<img src="../../assets/propic.jpg" class="usr-propic-round"/>
									<p class="usr-name">Jane Doe</p>
								</a>
							</span>
						</div>
						<div class="panel-body">
						<p><b>[ Question ] </b>In dignissim iaculis semper. Phasellus consectetur, turpis vitae pellentesque ullamcorper, ante lacus tincidunt eros, ut auctor ex ligula vel felis. Etiam sodales leo in iaculis auctor?</p>
						<textarea class="form-control" rows="6" placeholder="Reply to Jane Doe"></textarea>
						<br/>
						<button class="btn btn-submit btn-reply" id="reply" type="submit">Reply</button>
						</div>
					</div>
				</div>
				<hr/>
				<div name="leave-comments">
					<h2>Leave Comments/Questions</h2>
					<textarea class="form-control" rows="6" placeholder="Comments/Questions"></textarea>
					<br/>
					<label class="radio-inline">
						<input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Comments
					</label>
					<label class="radio-inline">
						<input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Questions
					</label>
					<br/>
					<br/>
					<button class="btn btn-submit" id="submit" type="submit">Submit</button>
				</div>
			</div>
		</div>
	</div>
</div>