<div class="container-fluid">
	<app-filter></app-filter>
	
	<div class="container">
		<div class="row" id="projContainer">
			<div class="col-xs-12 col-sm-4 col-md-3 projIcon">
				<div class="project-block">
					<div class="project-image-wrapper">
						<img src="../../assets/project-picture.png" id="project-image" width="100%"/>
					</div>
					<h4 id="project-title">Tiny Thief</h4>
					<span class="usr-bio-brief">
						<a routerLink="/profile" id="usr-propic-link">
							<img src="../../assets/beyonce2.jpg" class="usr-propic-round"/>
							<p class="usr-name">Beyoncé</p>
						</a>
					</span>
					<div class="tag-section">
						<button class="btn btn-tags" id="view-project">Swift</button>
						<button class="btn btn-tags" id="view-project">iOS</button>
						<button class="btn btn-tags" id="view-project">Android</button>
						<button class="btn btn-tags" id="view-project">Cocos2d-x</button>
						<button class="btn btn-tags" id="view-project">Lua</button>
					</div>
					<div id="project-description">
						<p>Little Theo has always been underestimated throughout his entire life. Help him move up the ranks in his guild to become the greatest thief that the world has ever known! </p>
					</div>
					<a routerLink="/project"><button class="btn btn-view" id="view-project">View Project</button></a>
				</div>
			</div>

			<div class="col-xs-12 col-sm-4 col-md-3 projIcon">
				<div class="project-block">
					<div class="project-image-wrapper">
						<img src="../../assets/catsGame.jpg" id="project-image" width="100%"/>
					</div>
					<h4 id="project-title">Cats - All Day, Every Day</h4>
					<span class="usr-bio-brief">
						<a routerLink="/profile" id="usr-propic-link">
							<img src="../../assets/propic.jpg" class="usr-propic-round"/>
							<p class="usr-name">Jane Doe</p>
						</a>
					</span>
					<div class="tag-section">
						<button class="btn btn-tags" id="view-project">HTML5</button>
						<button class="btn btn-tags" id="view-project">CSS3</button>
						<button class="btn btn-tags" id="view-project">JavaScript</button>
					</div>
					<div class="project-tags">
						<div id="project-tag-1">
							<span id="project-tag-name"></span>
						</div>
					</div>
					<div id="project-description">
						<p>Play with cats in a world where there's anything you can imagine. You can also enjoy videos of cats playing together. We promise you won't get bored! </p>
					</div>
					<a routerLink="/project"><button class="btn btn-view" id="view-project">View Project</button></a>
				</div>
			</div>

			<div class="col-xs-12 col-sm-4 col-md-3 projIcon">
<div class="project-block">
					<div class="project-image-wrapper">
						<img src="../../assets/manageApps.png" id="project-image" width="100%"/>
					</div>
					<h4 id="project-title">Manage Your Apps</h4>
					<span class="usr-bio-brief">
						<a routerLink="/profile" id="usr-propic-link">
							<img src="../../assets/propic.jpg" class="usr-propic-round"/>
							<p class="usr-name">Jane Doe</p>
						</a>
					</span>
					<div class="tag-section">
						<button class="btn btn-tags" id="view-project">Java Springboot</button>
					</div>
					<div class="project-tags">
						<div id="project-tag-1">
							<span id="project-tag-name"></span>
						</div>
					</div>
					<div id="project-description">
						<p>Allows user to manage their most important applications on one website. Our app is meant to help those who want a little more organization in their life! </p>
					</div>
					<a routerLink="/project"><button class="btn btn-view" id="view-project">View Project</button></a>
				</div>
			</div>

			<div class="col-xs-12 col-sm-4 col-md-3 projIcon">
<div class="project-block">
					<div class="project-image-wrapper">
						<img src="../../assets/viking-axe.jpg" id="project-image" width="100%"/>
					</div>
					<h4 id="project-title">Axe Force</h4>
					<span class="usr-bio-brief">
						<a routerLink="/profile" id="usr-propic-link">
							<img src="../../assets/sherylSandberg.jpg" class="usr-propic-round"/>
							<p class="usr-name">Sheryl Sandberg</p>
						</a>
					</span>
					<div class="tag-section">
						<button class="btn btn-tags" id="view-project">Android</button>
						<button class="btn btn-tags" id="view-project">Cocos2d-x</button>
						<button class="btn btn-tags" id="view-project">Lua</button>
					</div>
					<div class="project-tags">
						<div id="project-tag-1">
							<span id="project-tag-name"></span>
						</div>
					</div>
					<div id="project-description">
						<p>Learn how to be a viking in the ancient times of a world where the dragons and vikings still roamed. Fight to be the one and only ruler of the entire viking world! </p>
					</div>
					<a routerLink="/project"><button class="btn btn-view" id="view-project">View Project</button></a>
				</div>
			</div>
			<br>
			<br>
			<br>

		</div>
	</div>

	
</div>