<div class="container-fluid">
	<div class="slider-wrapper">
		<img src="../../assets/banner-image.jpg" class="gallery-feature-img" />
	</div>

	<app-filter></app-filter>
	
	<div class="container">
		<div class="row" id="projContainer">
			<div class="col-xs-12 col-sm-4 col-md-3 projIcon">
				<div class="project-block">
					<div class="project-image-wrapper">
						<img src="../../assets/project-picture.png" id="project-image" width="100%"/>
					</div>
					<h4 id="project-title">Tiny Thief</h4>
					<span class="usr-bio-brief">
						<a routerLink="/profile" id="usr-propic-link">
							<img src="../../assets/propic.jpg" class="usr-propic-round"/>
							<p class="usr-name">Jane Doe</p>
						</a>
					</span>
					<div class="project-tags">
						<div id="project-tag-1">
							<span id="project-tag-name"></span>
						</div>
					</div>
					<div id="project-description">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sed ultrices nunc, at bibendum augue. In hac habitasse platea dictumst. </p>
					</div>
					<a routerLink="/project"><button class="btn btn-view" id="view-project">View Project</button></a>
				</div>
			</div>

			<div class="col-xs-12 col-sm-4 col-md-3 projIcon">
			
			</div>

			<div class="col-xs-12 col-sm-4 col-md-3 projIcon">

			</div>

			<div class="col-xs-12 col-sm-4 col-md-3 projIcon">

			</div>
			<br>
			<br>
			<br>

		</div>
	</div>
</div>