<div class="container">
	<img src="http://loremflickr.com/1100/500/coding" class="gallery-feature-img" />

	<div class="row" id="projContainer">
		<div class="col-xs-6 col-md-3 projIcon">
			<div class="project-block">
				<img src="../../assets/project-picture.png" id="project-image" width="100%"/>
				<h4 id="project-title">Lorem ipsum</h4>
				<span class="usr-bio-brief">
					<img src="#" class="usr-propic-round"/>
					<p class="usr-name">Jane Doe</p>
				</span>
				<div class="project-tags">
					<div id="project-tag-1">
						<span id="project-tag-name"></span>
					</div>
				</div>
				<div id="project-description">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sed ultrices nunc, at bibendum augue. In hac habitasse platea dictumst. Donec suscipit turpis sit amet venenatis placerat.
				</div>
				<button class="btn btn-default" id="view-project">View Project</button>
			</div>
		</div>

		<div class="col-md-3 projIcon">

		</div>

		<div class="col-md-3 projIcon">

		</div>

		<div class="col-md-3 projIcon">

		</div>

	</div>


</div>