

.expandHeight{
    height: 200px;
    opacity: 1;
}

.filterContainer{
	display:none;
    transition: 0.4s all ease;
    /*opacity: 0;*/
}


button{
	color: #8498d3;
	background-color: transparent;
    padding: 5px 10px;
    border: 1px solid #8498d3;
    border-radius: 24px;
    text-align: center;
    display: inline-block;
    margin: 0 5px 15px 0;
}